/*
    Author: Eron Ristich
    Date: 9/21/21
    File: ./neonify/static/css/canvas.css
    Description: Styling scripts for the canvas template 
*/

#drawingCanvas {
    border: 1px dotted #000000;
}

#canvasImg {
    float: left;
    padding: 50px;
}
  
#weight {
    float: left;
    padding: 50px;
}
  
#colorpicker {
    float: left;
    width: 20px;
    height: 175px;
    padding: 50px;
}
  
input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}