<!-- 
  Author: Eron Ristich
  Date: 9/21/21
  File: ./neonify/templates/canvas.html
  Description: Create template for drawing canvas
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>neonify</title>
    <link href="/static/css/canvas.css" rel="stylesheet" type="text/css"/>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script> $SCRIPT_ROOT = {{ request.script_root|tojson }}; </script> 
  </head>
  <body>
    <h1>Drawing Test</h1>
    <div class="container" style="display: flex;">
      <canvas id="drawingCanvas" width="1000" height="1000" style="width: 500px; height: 500px;"></canvas>

      <input id="weight" min="1" type="range" orient="vertical"/>
      <input type="color" id="colorpicker" value="#ffffff"/>
      
      <div class="container" style="display: flex; padding-left: 6px;">
        <img id="canvasImg" style="width: 500px; height: 500px;">
      </div>
      
    </div>
    
    <div id="imageHandlers">
      <button onclick="saveDCanvas()">Save as Image</button>
      <button onclick="previewDCanvas()">Preview</button>
      <button id="neonify" type="submit" onclick="previewDCanvas()">Neonify</button>
      
    </div>
    <span id="neonified">?</span>

    <script src="/static/javascript/canvas.js"></script>
    <script src="/static/javascript/responses.js"></script>
  </body>
</html>